.header-image-about{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
}

header{
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 5;
}

.header-text-about{
    position: absolute;
    z-index: 5;
    margin-left: 20vh;
    margin-top: 35vh;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    font-family: 'Benne', serif;
    letter-spacing: 2px;
}

.perfect-world{
    margin-top: -40px;
}

.image-about{
    height: 100vh;
    width: 100%;
    filter: brightness(70%);
}

.div1-about{
    display: flex;
    padding: 70px 10%;
    padding-bottom: 0%;
    color: #111111;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 130%;
}

/* div2 */
.div2-about{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.div2-text{
    padding-bottom: 0%;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}

.div2-text-h1{
    font-weight: 100;
}

.div2-text-p{
    color: #777777;
    line-height: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 15px;
    margin-bottom: 40px;
}

.div2-image1{
    width: 100%;
    height: 100%;
}

.image1-about{
    height: 100%;
    width: 80%;

}

.div2-image2{
    width: 100%;
    height: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 5%;
    justify-content: center;
}

.image2-about{
    width: 100%;
    /* height: 100%; */
}

/* div 3 */
.div3{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    height: 120px;
}

.arrows{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.r-arrow,.l-arrow{
    /* padding-left: 30px; */
    height:50px;
    width:50px;
    border: sha 1px;
    border-radius: 50%;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 7px;
    box-shadow: 1px 2px 1px 2px gray;
    cursor: pointer;
}

.slider{
    height: 610px;
    padding-top: 0%;
    padding-bottom: 100px;
    margin-top: 0%;
    margin-left: 0%;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.slide-track{
    display: flex;
    width: fit-content;
    animation: scroll 100s linear infinite;
}

.slide{
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.slider-text-home{
    position: absolute;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}

.sub-home{
    margin-top: -15px;
    color: #FFFFFFBF;
}

.slide img{
    height: 510px;
    width: 420px;
    filter: brightness(70%);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}

/* div5 */
.div5-about-image{
    width: 100%;
}

.div5-about-image>img{
    width: 100%;
}

/* div6 */
.div6{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

.div6-image1{
    margin-left: 20%;
    height: 80%;
    width: 70%;
}

.div6-image1 > img{
    height: 90%;
    width: 100%;
}

.div6-inner{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.div6-text{
    margin-top: 15%;
    padding-left: 6%;
    padding-right: 20%;
}

.div6-image2{
    margin-top: 12%;
    padding-left: 6%;
    padding-right: 20%;
}

.div6-image2>img{
    width: 80%;
    height: 90%;
}


/* div8 */
.div8-inner{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.div8-text{
    margin-top: 15%;
    padding-left: 20%;
    padding-right: 18%;
    
}

.div8-image1{
    margin-top: 12%;
    margin-left: 20%;
    
}

.div8-image1>img{
    width: 80%;
    height: 90%;
}

.div8-image2{
    padding-left: 6%;
    height: 80%;
    width: 70%;
    margin-left: 5%;
}

.div8-image2 > img{
    height: 90%;
    width: 100%;
}

/* div9 */
.div9-about{
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div9-about > img{
    width: 100%;
    height: 100%;
}

.div9-inner{
    position: absolute;
    z-index: 5;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.div9-about-h1{
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

.div9-about-p{
    border: #fff solid 1px;
    padding: 20px;
    margin-left: 25%;
    width: 50%;
}






@media screen and (max-width : 1000px) {
    .header-text-about{
        font-size: 50px;
    }
    
    .div2-about{
        grid-template-rows: 1fr .5fr;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .div2-image1{
        grid-row: 1/1;
    }

    .div2-image1{
        display: flex;
        justify-content: center;
    }

    .image1-about{
        width: 60%;
        height: 100%;
    }

    .div5-about-image{
        margin-bottom: 20%;
    }

    .div6{
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
    }

    .div6-inner{
        display: block;
        grid-row: 1/1;
    }

    .div6-image2{
        display: none;
    }

    .div6-image1{
        height: 100%;
        width: 80%;
        margin-left: 10%;
        margin-top: 6%;
    }

    .div6-text{
        margin-top: -10%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0%;
    }

    .div8-image1{
        display: none;
    }

    .div8-image2{
        /* grid-row: 1/1; */
        display: flex;
        justify-content: center;
        padding-left: 0%;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        margin-top: 6%;
    }

    .div8-text{
        margin-top: -10%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .div8-inner{
        display: block;
    }

    .div9-about{
        height: 40vh;
    }

    .div9-inner{
        width: 40%;
    }

    .div9-about-h1{
        font-size: 30px;
    }
    
    .div9-about-p{
        margin-left: 18%;
        width: 70%;
    }
}

@media screen and (max-width : 600px) {
    .div2-about{
        grid-template-rows: .7fr .5fr;
    }

    .header-text-about{
        font-size: 40px;
        margin-top: 35vh;
        margin-left: 20vw;
    }

    .perfect-world{
        margin-top: -20px;
    }

    .div2-about{
        margin-bottom: -200px;
    }

    .div3{
        display: flex;
        flex-direction: column;
        height: 30%;
    }

    .arrows{
        margin-left: 0%;
        width: 50%;
        margin-bottom: 10%;
    }

    .r-arrow,.l-arrow{
        box-shadow: 2px 4px 2px 4px gray;
    }
}

