body{
    background-color: #f3f3f3;;
}
.header-image-home{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

header{
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 5;
}

.video-home{
    height: 100%; 
    width: 100%;
}

.header-text-home{
    position: absolute;
    z-index: 5;
    margin-left: 20%;
    margin-top: 35vh;
    font-size: 5rem;
    font-weight: 100;
    color: #fff;
    font-family: 'Benne', serif;
}

.your-world{
    margin-top: -70px;
}

.div1{
    display: flex;
    background-image: url("/assets/home/1.jpg");
    background-position: 57%;
    padding-top: 130px;
    padding-bottom: 100px;
}

.left-div{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 40%;
}

.wel{
    color: #000;
    font-weight: 200;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0%;
    margin-left: 7%;
}

.cont{
    color: #777777;
    margin-top: 50px;
    font-size: 14px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 500;
    margin-left: 7%;
}

.cont > div{
    margin-bottom: 5px;
    letter-spacing: .5px;
}

.image2-home{
    height: 267px;
    width: 430px;
    margin-top: 22%;
}

.right-div{
    height: 70%;
    width: 37%;
    margin-left: 7%;
}

.image3-home{
    height: 100%;
    width: 100%;
}

.div2{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #fff;
    color: #000;
    padding-top: 30px;
    background-color: #f3f3f3;;
}

.div2-content{
    color: #000;
    font-weight: 100;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 50px;
    letter-spacing: 1.5px;
    margin: 0%;
    margin-left: 10%;
}

/* slider */
.slider{
    height: 800px;
    /* margin: auto; */
    margin-left: 0%;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.slide-track{
    display: flex;
    width: fit-content;
    animation: scroll 100s linear infinite;
}

.slide{
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.slider-text-home{
    position: absolute;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}

.sub-home{
    margin-top: -15px;
    color: #FFFFFFBF;
}

.slide img{
    height: 510px;
    width: 420px;
    filter: brightness(70%);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}

/* div4 */
.div4{
    padding-left: 7%;
    padding-bottom: 50px;
    background-color: #f3f3f3;
}

.land, .discovery{
    font-size: 50px;
}

.a-world, .explore-map{
    font-size: 18px;
    color: #777777;
}

.a-world{
    margin-top: 50px;
}

.explore-map{
    margin-top: 10px;
}

.place{
    display: flex;
    margin-top: 50px;
    width: 30%;
    justify-content: space-between;
}

/* div5 */
.div5{
    background-color: #f3f3f3;
    position:relative;
    bottom: 0;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.globe{
    height: 100%;
    width: 100%;
    position: relative;
}

.globe > img{
    height: 100%;
    width: 70%;
}

.info{
    height: 600px;
    width: 680px;
    position: absolute;
    background-color:#161F1E;
    color: white;
    z-index: 4;
    margin-top: 60px;
    margin-left: 50%;
}

.div5-image{
    position: absolute;
    z-index: 10;
    width: 230px;
    height: 510px;
    margin-left: 76%;
}

/* div6 */
.div6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.end-img{
    height: 100%;
    position: relative;
}

.img{
    height: 100vh;
    width: 100%;
    position: absolute;
}

.end-img > h1{
    position: absolute;
    margin-top: 55%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 40px;
    z-index: 2;
}

.experiences{
    margin-left: 20%;
}

.lifestyle{
    margin-left: 30%;
}

.wellness{
    margin-left: 30%;
}

.arrow{
    position: absolute;
    margin-left: 40%;
    margin-top: 70%;
    z-index: 2;
    /* border: 2px;
    border: solid; */

}
