body{
    background-color: #fff;
    overflow-x: hidden;
}
.header-image-home{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

header{
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 5;
}

.video-home{
    height: 100vh; 
    width: 100vw;
    object-fit: cover;
}

.header-text-home{
    position: absolute;
    z-index: 5;
    margin-left: 20vw;
    margin-top: 40vh;
    font-size: 5rem;
    font-weight: 100;
    color: #fff;
    font-family: 'Benne', serif;
}

.your-world{
    margin-top: -70px;
}

.div1{
    display: flex;
    background-image: url("/assets/home/1.jpg");
    background-position: 57%;
    padding-top: 130px;
    padding-bottom: 100px;
}

.left-div{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 40%;
}

.wel{
    color: #000;
    font-weight: 200;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0%;
    margin-left: 7%;
}

.cont{
    color: #777777;
    margin-top: 50px;
    font-size: 14px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 500;
    margin-left: 7%;
}

.cont > div{
    margin-bottom: 5px;
    letter-spacing: .5px;
}

.image2-home{
    height: 267px;
    width: 430px;
    margin-top: 22%;
}

.right-div{
    height: 70%;
    width: 37%;
    margin-left: 7%;
}

.right-div-hide{
    display: none;
}

.image3-home{
    height: 100%;
    width: 100%;
}

.div2{
    display: flex;
    width: 100%;
    margin-left: 10%;
    padding-left: 0%;
    padding-right: 10%;
    height: 120px;
    justify-content: space-between;
}

.div2-content{
    color: #000;
    font-weight: 100;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;
    letter-spacing: 1.5px;
}

.arrows{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 20%;
}

.r-arrow,.l-arrow{
    /* padding-left: 30px; */
    height:50px;
    width:50px;
    border: sha 1px;
    border-radius: 50%;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 7px;
    box-shadow: 1px 2px 1px 2px gray;
    cursor: pointer;
}

/* slider */
.slider{
    height: 700px;
    padding-top: 0%;
    margin-top: 0%;
    /* margin: auto; */
    margin-left: 0%;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.slide-track{
    display: flex;
    width: fit-content;
    animation: scroll 100s linear infinite;
}

.slide{
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.slider-text-home{
    position: absolute;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}

.sub-home{
    margin-top: -15px;
    color: #FFFFFFBF;
}

.slide img{
    height: 510px;
    width: 420px;
    filter: brightness(70%);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}

/* div4 */
.div4{
    padding-left: 7%;
    padding-bottom: 50px;
}

.land, .discovery{
    font-size: 50px;
}

.a-world, .explore-map{
    font-size: 18px;
    color: #777777;
}

.a-world{
    margin-top: 50px;
}

.explore-map{
    margin-top: 10px;
}

.place{
    display: flex;
    margin-top: 50px;
    width: 30%;
    justify-content: space-between;
}

/* div5 */
.div5{
    position:relative;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 100%;
    background-color: #f3f3f3;
}

.globe{
    height: 100vh;
    width: 100%;
    bottom: 0;
}

.globe > img{
    height: 100%;
    width: 70%;
}

.info{
    height: 90%;
    width: 45%;
    position: absolute;
    background-color:#161F1E;
    color: white;
    z-index: 4;
    padding-top: 70px;
    padding-left: 30px;
}

.arrows-globe{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.r-arrow-globe,.l-arrow-globe{
    height:30px;
    width:30px;
    align-items: center;
    cursor: pointer;
    fill: #fff;
}


.weather{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 60px;
}

.wind{
    width: 28px;
    filter:invert(100%) brightness(200%);
}

.compass{
    width: 25px;
    filter:invert(100%) brightness(200%);
}

.sun{
    width: 30px;
    filter: brightness(200%);
}

.text-black-box{
    padding-left: 25px;
    margin-top: 10%;
}

.inner-text-div > p{
    color: #FFFFFF80;
}

.inner-text-div > h1{
    font-size: 50px;
    font-weight: 100;
}

.location{
    display: flex;
    font-size: 15px;
    color: #FFFFFF80;
    padding-left: 25px;
}

.location-img{
    width: 20px;
    height: 20px;
    margin-top: 11px;
    filter: invert();
    background-color: inherit;
    margin-right: 20px;
}

.inner-div5{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div5-image{
    position: absolute;
    z-index: 10;
    width: 15%;
    height: 540px;
    margin-left: 27%;
    margin-top: -40px;
}

/* div6 */
.div6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.end-img{
    height: 100%;
    position: relative;
    filter: brightness(70%);
}

.img{
    height: 100vh;
    width: 100%;
    position: absolute;
}

.end-img > h1{
    position: absolute;
    margin-top: 55%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 40px;
    z-index: 2;
}

.experiences{
    margin-left: 20%;
}

.lifestyle{
    margin-left: 30%;
}

.wellness{
    margin-left: 30%;
}

.arrow{
    position: absolute;
    margin-left: 40%;
    margin-top: 70%;
    z-index: 2;
    border: 1px;
    border: solid;
    border-radius: 50%;
    border-color: white;
    cursor: pointer;
    fill: white;
    box-shadow: 0px 0px 0px 0px;
}

.video1-text{
    position: absolute;
    z-index: 4;
    color: #fff;
    margin-top: 10%;
    margin-left: 13%;
}

.title{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.inner{
    font-size: 15px;
    letter-spacing: .5px;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.explore-button{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 80px;
    font-size: 20px;
    border-style: solid;
    padding: 20px 10px;
    border-width: 1px;
    cursor: pointer;
}

.video-home2{
    height: 100%; 
    width: 100%;
}


.cross{
    position: absolute;
    z-index: 4;
    height: 20px;
    width: 20px;
    margin-top: 40px;
    margin-left: 90%;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .video-home{
        /* width: 2200px; */
    }

    .place{
        width: 50%;
    }
    
    .div5{
        display: grid;
        position: static;
        height: fit-content;
    }
    
    .globe{
        height: 40vh;
        width: 100%;
        grid-row: 1/1;
    }

    .globe > img{
        width: 60%;
        height: 100%;
    }
    
    .inner-div5{
        display: block;
    }
    
    .black-box{
        display: block;
    }

    .info{
        height: 40vh;
        width: 100%;
        position: static;
        grid-row: 1/1;
    }
    
    .weather{
        margin-top: 10px;
        width: 30%;
    }

    .location{
        margin-top: -10px;
    }

    .text-black-box{
        margin-top: 5px;
    }

    .div5-image{
        width: 44%;
        height: 38%;
        margin-left: 55%;
    }

    .img{
        height: 100%;
        position: absolute;
    }

    .div1{
        display: grid;
        grid-template-rows: 1fr ;
        background-image: none;
        overflow-x: hidden;
        padding-bottom: 0%;
        /* height: fit-content; */
    }

    .left-div{
        width: 100%;
        margin-left: 0%;
    }

    .right-div{
        display: none;
    }

    .wel{
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 0%;
        text-align: center;
    }

    
    .cont{
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 0%;
        font-size: 15px;
        text-align: center;
    }

    .right-div-hide{
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
        height: 90%;
    }

    .image2-home{
        /* height: 267px; */
        width: 100%;
        margin: 0%;
        height:80%;
        margin-top: 15%;
    }

    .div6{
        height: 45vh;
    }

    .end-img > h1{
        font-size: 30px;
        margin-top: 70%;
    }
    
    .arrow{
        margin-top: 85%;
    }

}

@media screen and (max-width: 600px) {
    .header-text-home{
        font-size: 40px;
    }

    .your-world{
        margin-top: -30px;
    }

    .div2{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .arrows{
        margin-left: 0%;
        width: 50%;
    }

    .r-arrow,.l-arrow{
        box-shadow: 2px 4px 2px 4px gray;
    }

    .arrow{
        box-shadow: 0px 0px 0px 0px;
        /* margin-top: 40%; */
    }

    .place{
        width: 95%;
    }

    .div5{
        height: 80%;
    }
    

    .globe{
        height: 40vh;
    }

    .info{
        height: 40vh;
        padding-top: 20px;
    }

    .l-arrow-globe, .r-arrow-globe{
        width: 20px;
    }

    .weather{
        margin-top: 10px;
    }

    .inner-weather  p{
        font-size: 10px;
    }

    .compass{
        width: 10px;
        margin-top: 5px;
    }

    .location{
        font-size: 10px;
        padding-left: 2px;
        margin-top: -20px;
    }

    .text-black-box{
        padding-left: 2px;
        margin-top: 13px;
    }
    
    .inner-text-div > h1{
        font-size: 30px;
        font-weight: 100;
    }

    .wind{
        width: 23px;
    }
    
    .compass{
        width: 20px;
    }
    
    .sun{
        width: 25px;
    }
    

    .div5-image{
        width: 45%;
        height: 30%;
    }

    .div6{
        display: block;
        height: 100vh;
        width: 100%;
    }

    .end-img{
        height: 35%;
    }

    .img{
        /* height: auto; */
        width: 100%;
        /* object-fit: cover; */

    }

    .arrow{
        margin-left: 40%;
        margin-top: 30%;
    }

    .end-img > h1{
        margin-top: 20%;
    }
    
    .experiences{
        margin-left: 25%;
    }
    
    .lifestyle{
        margin-left: 30%;
    }
    
    .wellness{
        margin-left: 35%;
    }
    
}