* {
    box-sizing: border-box;
}

html,body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

ul{
    color: #fff;
    list-style: none;
}

li{
    cursor: pointer;
    font-family: 'Martel Sans', sans-serif;
}

header{
    background-color:rgb(24, 24, 23);
    height: 100px;
    padding-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header img {
    width: 160px;
    margin-left: 15%;
}

header ul{
    margin-top: 15px;
}
header li{
    font-size: 15px;
    display: inline;
    margin: 0 10px;
}

.header-list1{
    display: none;
}

.underline{
    text-decoration: underline;
}

.link{
    text-decoration: none;
    color: #fff; 
}

ul img{
    height: 10px;
    width: 20px;
    margin-left: 10px;
}


.main-container{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 0%;
    padding-top: 120px;
    background-color: rgb(24, 24, 23);;
}

.item{
    height: 280px;
}

.item > img{
    height: 55%;
    width: 100%;
}

.text{
    font-family: messina-sans;
    font-size: .85rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: 1rem;
    line-height: 1.1;
}

.subtext{
    line-height: 1.3;
    margin-top: .25rem;
    color: #777;
    margin: 0;
    padding: 0;
}


footer{
    padding-top: 120px;
    padding-bottom: 80px;
    background-color:#161f1e;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: start ;
}

footer img{
    margin-left: 10%;
    width: 50px;
    height: 50px;
    margin-top: 0px;
}

.footer-lists{
    margin-top: -20px;
    display: flex;
    justify-content: end;
    width: 48%;
    margin-left: 10%;
    padding-top: 10px;
}

.inner-lists{
    display: flex;
    width: 20%;
}

.list1{
    margin-right: 7%;
}

.list2{
    margin-right: 30%;
}

.ele{
    margin-bottom: 20px;
    font-size: 16px;
}

.copyright{
    color: #FFFFFFBF;
    margin-left: 7%;
    font-size: 12px;
}


/* Dropdown */
.menu-dropdown{
    display: flex;
    
    background-color:rgb(24, 24, 23);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    font-family: 'Benne', serif;
}

.menu-top{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 80%;
    height: 20%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 40px;
}

.menu-image1{
    height: 45%;
}

.menu-image2{
    height: 25%;
    cursor: pointer;
}
.menu-part1{
    display: none;
}

.menu-part2{
    display: flex;
    justify-content: center;
    padding-top: 0%;
    margin-top: -50px;
    font-size: 45px;
    text-align: center;
}
/* @media only screen and (max-width: 2300px){
    header li{
        font-size: 30px;
        display: inline;
        margin: 0 10px;
    }

    header img {
        width: 250px;
        margin-left: 15%;
    }

    ul img{
        height: 15px;
        width: 30px;
        margin-left: 10px;
    }
    
    .main-container{
        gap: 25px;
        padding: 25px;
    }

    .item{
        height: 440px;
    }
    
    .item > img{
        height: 60%;
        width: 100%;
    }
    
    .text{
        font-size: 1.5rem;
    }
    
    .subtext{
        font-size: 1.2rem;
        margin-top: -10px;
    }
    
    footer{
        padding-top: 160px;
    }

    footer img{
        width: 70px;
    }
    
    .ele{
        font-size: 25px;
    }
    
    .copyright{
        font-size: 20px;
    }
} */

@media only screen and (max-width: 1100px){
    
    
    .header-list{
        margin-left: -55px;
    } 

    header li{
        font-size:15px;
    }

    ul img{
        height: 10px;
        width: 20px;
    }
}

@media only screen and (max-width: 1000px){
    
    header img {
        width: 150px;
    }
    
    .header-list{
        margin-left: -170px;
    }

    header li{
        font-size:15px;
    }

    ul img{
        height: 10px;
        width: 20px;
    }
    
    .main-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item{
        height: 290px;
    }
    
    .item > img{
        height: 55%;
    }
    
    .text{
        font-size: 1rem;
    }
    
    .subtext{
        font-size: 1rem;
    }
    
    footer{
        padding-top: 120px;
        grid-template-columns: 1fr 1.5fr;
        padding-bottom: 70px;
    }

    footer img{
        width: 40px;
        margin-left: 70px;
    }
    
    .ele{
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .copyright{
        font-size: 11px;
    }

    .menu-part2{
        margin-top: 0%;
    }
}

@media only screen and (max-width: 800px){   /* here */
    header{
        padding-top: 5%;
    }

    header ul{
        margin-left: 0%;
        padding-left: 0%;
    }

    header img {
        width: 150px;
        margin-left: 50px;
    }

    .header-list{
        display: none;
    }

    .header-list1{
        display: block;
        margin-left: 50%;
    }
    
    ul img{
        height: 10px;
        width: 20px;
    }   

    .main-container{
        grid-template-columns: 1fr 1fr;
        padding-top: 70px;
    }

    .item{
        height: 290px;
    }
    
    .text{
        font-size: .9rem;
    }
    
    .subtext{
        font-size: .9rem;
        margin-top: -7px;
    }

    .footer-content{
        flex-direction: column;
        margin-left: 10%;
    }

    footer img{
        margin-left: 0%;
    }
        
    .footer-lists{
        margin-top: 20px;
        margin-left: 0%;
        justify-content: left;
        width: 80%;
        flex-direction: column;
    }
    
    .inner-lists{
        width: 20%;
        margin-top: 20px;
    }
    
    .list1{
        margin-left: 0%;
        padding-left: 0%;
    }
    
    .list2{
        padding-left: 0%;
        margin-right: 140%;
    }

    .footer-content{
        width: 80%;
    }

    .copyright{
        margin-left: 10%;
    }

    .menu-part1{
        display: flex;
        justify-content: start;
        font-size: 34px;
    }
    
    .menu-part2{
        justify-content: start;
        font-size: 15px;
        text-align: left;
        margin-top: -20px;
    }

    .menu-part2 li{
        margin-bottom: 6px;
        color:#FFFFFF80;
    }

    .con{
        display: none;
    }
    
}

@media only screen and (max-width: 500px){
    header{
        padding-top: 40px;
        /* grid-template-columns: 1fr 2fr; */
    }

    header img {
        margin-left: 30px;
    }

    ul img{
        margin-left: 10px;
    }

    /* .header-list1{
       width: 10px;
    }*/

    .main-container{
        display: block;
        padding-top: 70px;
        width: 100%;
    } 

    .footer-lists{
        width: 100%;
    }
    .inner-lists{
        width: 10%;
        margin-top: 20px;
    }

    .footer-content{
        flex-direction: column;
        width: 80%;
        /* margin-left: 10%; */
    }

    .copyright{
        margin-top: 20px;
        font-size: 11px;
    }
}

@media only screen and (max-height: 650px){
    .menu-part1{
        display: flex;
        justify-content: start;
        font-size: 24px;
        margin-top: -20px;
    }
    
    .menu-part2{
        justify-content: start;
        font-size: 10px;
        text-align: left;
        margin-top: -20px;
    }

    .menu-top{
        margin-left: 12%;
        width: 70%;
    }
}